<div class="container">
	<div class="main-image">
		<img class="img-responsive" src="images/personalny.jpg" alt="daria loferska">
	</div>
	<section>
		<h4>Zapraszam do kontaktu i wspólnych treningów!</h4>
		<address>
			<strong>Daria Loferska</strong><br/>
			<span>Kraków</span><br />
			<span>(+48) 792 707 785</span><br />
			<span><a href="mailto:lansnabalans@gmail.com"><span>lansnabalans[at]gmail.com</a></span><br/>
			
		</address>
		<a href="https://www.facebook.com/lansnabalans/" target="_blank"><i class="fa fa-3x fa-facebook-square"></i></a>
		<a href="https://www.instagram.com/daria_pilates/" target="_blank"><i class="fa fa-3x fa-instagram"></i></a>
	</section>
	<div class="trening">
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			
				<h5>Zajęcia prowadzę w dwóch krakowskich klubach:</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 logo">
				<a  target="_blank" href="http://www.onepilates.pl/"><img src="images/onestudio.jpg" class="center-block img-thumbnail img-responsive"></a>
				<p class="text-center">The One Pilates Studio</p>
				<p class="text-center">Ul.Gdyńska 21, Kraków</p>
			</div>
			<div class="col-xs-6 logo">
				<a  target="_blank" href="http://gtxfitness.eu/"><img src="images/gtx.jpg" class="center-block img-thumbnail img-responsive"></a>
				<h5 class="text-center">GTX Trainning Division</h5>
				<p class="text-center">Ul. Królowej Jadwigi 184, Kraków</p>
			</div>
		</div>
	</div>

</div>
<hr>