<div class="social_media">
	<a href="http://lansnabalans.blog.pl"><i class="fa fa-2x fa-wordpress text-inverse"></i></a>
	<a href="https://www.facebook.com/lansnabalans/"><i class="fa fa-2x fa-fw fa-facebook text-inverse"></i></a>
	<a href="mailto:lansnabalans@gmail.com"><i class="fa fa-envelope fa-2x text-inverse"></i></a>
</div>

<section class="trening">
	<div class="row">
		<div class="col-md-12">
			<p><a target="_blank" href="http://www.onepilates.pl/">Prowadzę zajęcia w krakowskich klubach: One Pilates Studio</a> i <a target="_blank" href="http://gtxfitness.eu/">GTX Trainning Division</a></p>
			<p>Zapraszam także do indywidualnych zajęć w ramach trenningu personalnego. </p>
		</div>
	</div>
</section>