<div class="main-image">
	<img class="img-responsive" src="images/main.jpg" alt="daria loferska">
</div>
<section>
	<div class="row">
		<div class="col-md-12">
			<h3>Trenerka Pilates zakochana w swojej pracy</h3>
			<p class="pilates">
			Sport to moja pasja i sposób na życie. Interesują mnie różne dyscypliny, ale najbardziej fascynują mnie te, gdzie ćwiczenia fizyczne podporządkowane są treningowi mentalnemu. Najbliższy mi stał się Pilates, ze względu na to, że jest nie tylko zestawem ćwiczeń, ale pewną filozofią życia. <br/><br/>Moim celem jest ciągły rozwój, dlatego na zajęciach chętnie podejmuję nowe wyzwania. Kładę nacisk na poprawność wykonywania ćwiczeń, bo to jest najważniejszą rzeczą, by zrozumieć, na czym polega Pilates. Pragnę Was zarazić swoją pasją do tej metody i przekonać, że Pilates to kontrola zarówno nad własnym ciałem jak i umysłem. </p>
		</div>
	</div>
</section>
<div class="social-media">
		<a href="https://www.facebook.com/lansnabalans/"><i class="fa fa-2x fa-facebook-square"></i></a>
</div>
<hr>