/*
Fonts---> http://www.latofonts.com
*/
html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}


/* Initial body */
body {
  left: 30;
  margin: 30;
}

/* Initial menu */

h1 {
  color: #0f090b;
  text-align: center;
}

footer {
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: #263333;
}

a:hover {
    color: #cc181e;
    text-decoration: none;
}

img {
  max-width: 1140px;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs {
    text-align:center;
}

p, .social_media {
  text-align: center;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.trening {
  text-align: center;
}



